body {
    margin: 0;
    }
    
    a{
      text-decoration: none;
    }
    
    header{
      display: flex;
      justify-content: center;
      background-color: #f9c9a2;
      position: fixed;
      top: 0px;
      width: 100vw;
      z-index: 10;
      height: 90px;
    }
    
    header img{
      width: 180px;
    }
    
    .search {
      width: 100%;
      position: relative;
      display: flex;
      left: 15%;
    }
    
    .searchTerm {
      width: 40%;
      border: 3px solid #ffff;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 10px 0 0 10px;
      outline: none;
      color: #93939a;
    }
    
    .searchButton {
      width: 50px;
      height: 36px;
      border: 1px solid #ffff;
      background: #ffff;
      text-align: center;
      color: #c5d2c7;
      border-radius: 0 10px 10px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    .wrap{
      width: 30%;
      position: absolute;
      top: 20px;
      right: 0%;
    }
    
    .user{
      position: absolute;
      top: 23px;
      right: 5%;
    }
    
    img {
      border-radius: 360%;
    }